<ion-content [fullscreen]="true" class="ion-padding">

  <div class="logo-container">
    <img src="../../assets/imgs/abc-jobs-logo.png" alt="Logo de la aplicacion" class="app-logo">
  </div>

  <div class="button-container">
    <ion-button (click)="redirectToLogin()" color="dark" shape="round"> LOGIN </ion-button>
    <ion-button (click)="redirectToSignUp()" color="light" shape="round"> SIGN UP </ion-button>
    <ion-button color="medium" shape="round"> CONFIG </ion-button>
  </div>

</ion-content>
