<ion-menu side="start" contentId="main-content">

  <ion-header>
    <ion-toolbar color="dark">
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['get-technical-resource']" lines="none" color="transparent" class="custom-item">
          <ion-icon slot="start" name="person" color="light"></ion-icon>
          <ion-label class="custom-label" color="light">See Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['edit-technical-resource']" lines="none" color="transparent" class="custom-item">
          <ion-icon slot="start" name="color-palette" color="light"></ion-icon>
          <ion-label class="custom-label" color="light">Edit Profile </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="['delete-technical-resource']" lines="none" color="transparent" class="custom-item">
          <ion-icon slot="start" name="trash-bin" color="light"></ion-icon>
          <ion-label class="custom-label" color="light">Delete Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
  </ion-content>
  <ion-menu-toggle auto-hide="true">
    <ion-item [routerLink]="['/login']" color="dark">
      <ion-icon slot="start" name="footsteps"></ion-icon>
      <ion-label>LogOut</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"></ion-content>
</div>
