<ion-content>
  <form [formGroup]="academicDataForm">
    <ion-card class="custom-card">
      
      <ion-toolbar>
        <ion-title color="light">Academic Data</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
  
      <ion-card>
        <ion-item class="rounded-input">
          <ion-label position="stacked">School Name</ion-label>
          <ion-input formControlName="schoolName" type="text" color="dark"></ion-input>
        </ion-item>
        <div *ngIf="schoolNameControl?.hasError('required') && (schoolNameControl?.touched || schoolNameControl?.dirty)" class="error-message">
          <ion-text color="danger">The School Name is required.</ion-text>
        </div>

        <ion-item class="rounded-select-input">
          <ion-label position="stacked">Education Level</ion-label>
          <ion-select formControlName="educationLevel" (ionChange)="optionsEducationLevel($event)" interface="popover" placeholder="Select Your Education Level">
            <ion-select-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.value">
              {{ educationLevel.label }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="rounded-input">
          <ion-label position="stacked">Title</ion-label>
          <ion-input formControlName="title" type="text" color="dark"></ion-input>
        </ion-item>
        <div *ngIf="titleControl?.hasError('required') && (titleControl?.touched || titleControl?.dirty)" class="error-message">
          <ion-text color="danger">The Title is required.</ion-text>
        </div>

        <ion-item>
          <ion-label position="stacked">Start Date</ion-label>
          <ion-input formControlName="startDate" id="date" placeholder="DD/MM/YYYY"></ion-input>
          <ion-datetime presentation="date" formControlName="startDate" (ionChange)="updateStartDate($event)"></ion-datetime>
        </ion-item>
        <div *ngIf="startDateControl?.hasError('required') && (startDateControl?.touched || startDateControl?.dirty)" class="error-message">
          <ion-text color="danger">The Start Date is required.</ion-text>
        </div>

        <ion-item>
          <ion-label position="stacked">End Date</ion-label>
          <ion-input formControlName="endDate" id="date" placeholder="DD/MM/YYYY"></ion-input>
          <ion-datetime presentation="date" formControlName="endDate" (ionChange)="updateEndDate($event)"></ion-datetime>
        </ion-item>

      </ion-card>
  
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="danger" (click)="dismissModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button color="success" (click)="createAcademicData()">Create</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
  
  </form>
</ion-content>

