ion-toolbar {
    --background: #2e3238;
}

.rounded-input-additional {
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    font-family: 'Jura', sans-serif;;
}