<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="getEmployeeForm">
    <div class="logo-container">
      <div class="signup-container">
        <ion-label class="user-type-label" color="light">ABC EMPLOYEE</ion-label>
      </div>
    </div>

    <div class="user-info-container">
      <ion-list class="custom-list">
        <ion-card class="custom-card info-card">
          <ion-card-header>
            <ion-card-title class="card-title">{{ getEmployeeForm.get('name')?.value }} {{ getEmployeeForm.get('lastName')?.value }}</ion-card-title>
            <ion-card-subtitle class="card-subtitle">{{ getEmployeeForm.get('email')?.value }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="card-content-label">
            <div class="centered-label">
              <ion-icon name="card" slot="start"></ion-icon>
              <ion-label>{{ getEmployeeForm.get('identificationType')?.value }} {{ getEmployeeForm.get('identification')?.value }}</ion-label>
            </div>
          </ion-card-content>
        </ion-card>

        <ion-card class="custom-card info-card">

          <ion-card-content>
            <div class="centered-label">
              <ion-icon name="home" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('phoneNumber')?.value }}</ion-label>
            </div>

            <div class="centered-label">
              <ion-icon name="call" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('mobile')?.value }}</ion-label>
            </div>

            <div class="centered-label">
              <ion-icon name="globe" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('country')?.value }}</ion-label>
            </div>

            <div class="centered-label">
              <ion-icon name="map" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('state')?.value }}</ion-label>
            </div>

            <div class="centered-label">
              <ion-icon name="business" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('city')?.value }}</ion-label>
            </div>

            <div class="centered-label">
              <ion-icon name="location" slot="start" class="white-text"></ion-icon>
              <ion-label class="white-text">{{ getEmployeeForm.get('address')?.value }}</ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </form>
</ion-content>


