<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="interviewEmployeeForm">
    <div class="logo-container">
      <div class="performance-container">
        <ion-label class="user-type-label" color="light"> Schedule interview </ion-label>
      </div>
      <ion-button (click)="openCreateInterviewModal()" class="add-button" fill="clear" color="dark">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <div class="divider"></div>
    </div>

    <div class="academic-info-container">

      <ion-list class="custom-list">
        <ion-card *ngFor="let interview of interviewList" [ngClass]="{'active-card': interview.status === 'Created', 'finished-card': interview.status === 'Finished', 'expired-card': interview.status === 'Expired', 'qualified-card': interview.status === 'Qualified'}" class="custom-card-data">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-text color="light" class="title-text">{{ interview.title }} , {{ interview.companyName}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row align-items-center>
                <ion-col size="6">
                  <ion-text color="success">{{ interview.startDay}}</ion-text>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                  <ion-text color="danger">{{ interview.endDay}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-card>
      </ion-list>

    </div>
  </form>
</ion-content>