<ion-content>
  <form [formGroup]="interviewDetailForm">
    <ion-card class="custom-card">
      
      <ion-toolbar>
        <ion-title color="light"> Interview Detail </ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="dismissModal()">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  
      <ion-card class="custom-card-data" [ngClass]="{'active-card': interview.status === 'Created', 'finished-card': interview.status === 'Finished', 'expired-card': interview.status === 'Expired', 'qualified-card': interview.status === 'Qualified'}">
        <ion-card-header>
          <ion-card-title>{{ interview.title }}, {{ interview.companyName }}</ion-card-title>
          <ion-card-subtitle>{{ interview.status}}</ion-card-subtitle>
        </ion-card-header>
        <ion-label>
          <ion-row class="custom-detail-container">
            <ion-text color="dark" class="custom-detail">Observations: {{ interview.description }}</ion-text>
          </ion-row>
          <ion-row class="custom-detail-container">
            <ion-text color="dark" class="custom-detail">Place: {{ interview.place }}</ion-text>
          </ion-row>
          <ion-row class="custom-detail-container">
            <ion-text color="dark" class="custom-detail">Link: {{ interview.link }}</ion-text>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col size="6" class="ion-text-start">
              <ion-text color="success">Start Date: {{ interview.startDay }}</ion-text>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
              <ion-text color="danger">End Date: {{ interview.endDay }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-label>
        <ion-button class="end-button" color="light" *ngIf="interview.status === 'Created'" (click)="endInterview()">
          <ion-icon name="call" slot="start"></ion-icon>
          End Interview
        </ion-button>
      </ion-card>
    </ion-card>
  </form>
</ion-content>


