ion-toolbar {
    --background: #2e3238;
  }

  .custom-card {
    background-color: transparent;
  }

  .custom-card-data {
    background-color: #2e3238;
  }
  
  ion-card-title,
  ion-card-subtitle {
    color: white;
  }
  
  .custom-detail {
    color: white;
    margin-left: 15px;
  }
  

  ion-text.color-success {
    color: green;
    margin-left: 15px;
  }
  
  ion-text.color-danger {
    color: red;
  }
  
  .custom-detail-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

  .ion-align-items-center{
    margin-left: 10px;
    margin-top: 10px;
  }

  .result-title{
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .larger-title {
    font-size: 15px;
    margin-left: 15px;
  }

  .active-card {
    border: 3px solid rgb(255, 220, 47); 
}
  
.finished-card {
    border: 3px solid rgb(0, 116, 129);
}

.expired-card {
    border: 3px solid rgb(255, 103, 103);
}

.qualified-card {
    border: 3px solid rgb(50, 213, 58);
}